.jfx-text-area
{
    -fx-background-color: #98EECC;
    -fx-font-size:18;
    -fx-font-weight: bold;
}
.jfx-text-area
{
    -fx-background-color: #98EECC;
    -fx-font-size:18;
    -fx-font-weight: bold;
}